body {
    font-size: 100%;
    background: #0000A9;
    }
.firststyle {
    background-color:#0000A9;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #A9A9A9;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }
#searchdialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 8px;
  top: 8px;
  /*width: 100%; */ /* Full width */
  /*height: 100%; */ /* 0 -> Full height */
  overflow: auto; /* Enable scroll if needed */
  color: black;
  outline: 8px ridge threedface;
  background-color: rgb(0,255,255); /* Fallback color */
  background-color: rgba(0,255,255,0.9); /* Black w/ opacity */
}
.dialogbutton {
    padding: .5rem;
    font-size: 1rem;
    background-color: #CCCCFF;
    color: #0000A9;
    margin: 10px;
    float: right;
    border-radius: 8px;
}
.dialogbutton:disabled {
    background-color: lightgray;
    }
.tallflex {
    display: flex;
    flex-direction: column;
    }
.wideflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
#tstatus {
    background-color:#0000A9;
    color: white;
    z-index: 10;
    top: 0;
    position: sticky;
    }
.texta {
    background-color: #00A9A9;
    color:black;
    }
textarea, input {
    font-size: 1.5rem;
    }
#head-grid {
    display: grid;
    font-size: 1rem;
    grid-template-columns: auto auto auto auto;
    background-color: #CC00CC;
    color: #CC00CC;
    grid-gap: 3px;
}
.hcell {
    background-color:#0000A9;
    color: #00A9A9;
}    
.hcell2a {
    background-color:#0000A9;
    color: #00A9A9;
    grid-column-start: 1;
    grid-column-end: 3;
}    
.hcell2b {
    background-color:#0000A9;
    color: #00A9A9;
    grid-column-start: 3;
    grid-column-end: 5;
}    
.hcell3 {
    background-color:#0000A9;
    color: #00A9A9;
    grid-column-start: 2;
    grid-column-end: 5;
}
.hbutton {
    background-color:#00A9A9;
    font-size:1rem;
    }
#form-grid {
    display: grid;
    grid-template-columns: 13rem 80rem;
    background-color:#0000A9;
}
.lcell {
    background-color: #00A9A9;
    color:black;
    text-align: right;
}
#buttons {
    display: flex;
    width: 100%;
    background-color: #00A9A9;
    color:black;
    text-align: left;
    vertical-align: bottom;
}
input[type="button"], input[type="submit"]  {
    border-radius: 8px;
}
#reset { background-color:#EDA9FB }
#table { background-color: #CCCC00 }
#search { background-color: #8CD7EE }
#savesearch { background-color: #8CD7EE }
#getsearch { background-color: #8CD7EE }
#research { background-color: #66B3FF }
#searchdg { background-color: #4693DF }
#next { background-color: #8CD7EE }
#back { background-color: #8CD7EE }
#save { background-color: #B1FABB }
#add { background-color: #B1FABB }
#copy { background-color: #00CC66 }
#delete { background-color: #E37791 }
#clear { background-color: #EDA9FB }
#id { background-color: #000000 }
#resize { background-color: #000000 }
